@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200&family=Shizuru&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    transition: background 0.4s linear, color 0.4s linear;
}
button {
    background-color: rebeccapurple;
    color: white;
    padding: 1rem;
    font-family: inherit;
    border-radius: 5px;
    font-size: 1.2rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    border: none;
    transition: transform 0.1s linear;
}

button:focus{
    outline: none;
    
}
button:active{
    box-shadow: none;
    transform: translate(2px, 2px);
}